@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
{
    --font-family-header: 'Poppins', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
    --violet-color: hsl(257, 40%, 49%);
    --soft-magenta-color: hsl(300, 69%, 71%);
    --box-shadow: rgb(66, 65, 71);

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-color: var(--violet-color);
    background-size: 90%;
  }

  .header-container {
    max-width: 1440px;
    margin-left: 250px;
    padding-left: 20px;
    margin-top: 50px;
    font-family: var(--font-family-header);
    }


  .main-container {
    font-family: var(--font-family-body);
    max-width: 1440px;
    margin-left: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 
  .body-container-left {
    margin: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  .body-container-right {
    margin: 50px;
    padding-left: 20px;
    padding-top: 50px;
    color: #fff;
    font-family: var(--font-family-body);
  }

  .body-container-right h1 {
   font-size: 43px;
   word-spacing: 5px;
  }

  .body-container-right p {
    margin-top: 25px;
    line-height: 1.6;
    font-size: 19px;
  }

  button {
    height: 55px;
    width: 200px;
    border-radius: 30px;
    font-family: var(--font-family-body);
    font-size: large;
    border: 1px solid var(--violet-color);
    box-shadow: 0 8px 10px 0 var(--box-shadow);
    background-color: #fff;
    color: var(--violet-color);
    margin-top: 15px;
    cursor: pointer;
  }

button:hover {
    background-color: var(--soft-magenta-color);
    border: 1px solid var(--soft-magenta-color);
    box-shadow: 0 8px 10px 0 var(--box-shadow);
    color: #fff;
}


.footer-container {
    position: fixed;
    bottom: 0;
    width: 87%;
    text-align: right;
    height: 80px;
    padding-bottom: 60px;
    padding-right: 250px;

}

.footer-container span {
    margin-right: 15px;
}

.footer-container span i {
    height: 40px;
    width: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 0 10px 0;
}


.footer-container span i:hover {
    color: var(--soft-magenta-color);
    border: 2px solid var(--soft-magenta-color);
    cursor: pointer;
}

  /* Media Screen */

  @media(min-width: 1025px) {
    body {
        background-image: url('./images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-color: var(--violet-color);
        background-size: auto 1024px;
    }
  }



  @media(min-width: 375px) and (max-width:1024px) {
    body {
        background-image: url('./images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-color: var(--violet-color);
        background-size: cover;
    }
    .header-container {
        margin-left: 10px;
        padding-left: 20px;
        margin-top: 10px;
        font-family: var(--font-family-header);
        }
    
        .header-container img {
            width: 200px;
        }

    .main-container {
        font-family: var(--font-family-body);
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        margin: 5px;
        text-align: center;
         }

    .main-container img {
        max-width: 75vw;
        }
          
    .footer-container {
        display: flex;
        flex-direction: row;
        position: fixed;
        max-width: 75vw;
        text-align: center;
        height: 10px;
        padding-left: 120px;
        padding-bottom: 30px;
        align-items: center;
 
        }
    
        .body-container-left {
            margin: 15px;
            padding: 10px;
          }
        
        .body-container-right {
            margin: 8px;
            padding: 10px;
            color: #fff;
            font-family: var(--font-family-body);
          }
        
        .body-container-right h1 {
           font-size: 25px;
           word-spacing: 5px;
          }
        
          .body-container-right p {
            margin: 10px;
            font-weight: 400;
            font-size: 14px;
          }

          button {
            height: 40px;
            max-width: 75vh;
            font-family: var(--font-family-body);
           font-size: small;
  }

  .footer-container span i {
    height: 30px;
    width: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 6px 0 6px 0;
}


}